/**/
body {
    background-color:lightgray;
}
.h, nav, figure {
    text-align: center;
    }
table, td{
    border-collapse: collapse;
    border: 1px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
}
th {
    padding-top: 2%;
    padding-bottom: 2%;
}
.myTable {
    text-align: -webkit-center;
    text-align: -moz-center;
}
table {
    background-color: cadetblue;
}
section {
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    -moz-box-shadow: 0px -10px 20px #292929;
    -webkit-box-shadow: 0px -10px 20px #292929;
    -o-box-shadow: 0px -10px 20px #292929;
}
figcaption {
    margin-left: 30%;
    margin-right: 30%;
}
form {
    margin-left: 25%;
    margin-right: 25%;
    padding: 1%;
}
div {
    text-align: left;
}
.footer {
    text-align: center;
    background-color:lightgray;
    color:darkslategrey;
}